[user]
	email = patrickricheal@gmail.com
	name = pricheal
	signingkey = 2A70B83FD3493624
[commit]
	gpgsign = true
[pull]
	rebase = false
[github]
	user = pricheal
[core]
	hooksPath = ~/.githooks
	pager = diff-highlight | less
[color "diff"]
	frag = blue
	func = yellow
[interactive]
	diffFilter = diff-highlight
