[user]
	email = patrickricheal@gmail.com
	name = pricheal
	signingkey = 29CA98B85D9BB8DD
[commit]
	gpgsign = true
[pull]
	rebase = false
[github]
	user = pricheal
[core]
	hooksPath = ~/.githooks
	pager = delta --diff-highlight
[interactive]
	diffFilter = delta --diff-highlight --color-only
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
