[user]
	email = katmfoo@gmail.com
	name = katmfoo
	signingkey = 41B21E5539E4ABF6
[commit]
	gpgsign = true
[pull]
	rebase = false
[github]
	user = katmfoo
[core]
	editor = nvim
	pager = delta --diff-highlight --keep-plus-minus-markers
[interactive]
	diffFilter = delta --diff-highlight --color-only
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
